
.errorr{

    background-color: #BC1010;
    padding: 6px 12px;
    z-index: 9999;
  
 
border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 0px;
    position: absolute;
    z-index: 9999;
	
	
	
}


* html .clearfix {height:1px;}

.errorr:before{ /* Este es un truco para crear una flechita */

    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
	z-index: 9999;
	
	
}
.short{
    color:#FF0000;
        font-weight: bold;
}

.weak{
    color:#F5AC00;
       font-weight: bold;
}

.good{
    color:#69C;
        font-weight: bold;
}

.strong{
    color:green;
       font-weight: bold;
}

